.adds-list {

    border-radius: 25px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.spinnerView {
    background-color:  white;
    display: flex;
    justify-content: center;
}
