.buttons {
    background-color: inherit ;
    color: rgb(210, 156, 5);
    border: none;
    font-family: 'Ananda', 'Ananda Black';
    font-style: italic;
    cursor: pointer;
    border-radius: 15px;
    grid-column: 6;
    grid-row: 1;
    text-align: center;
    margin: 0;
}

#submit, #reset, #deleteAdd {
    border-radius: 5px;
    border: 2px solid rgb(210, 156, 5);
}

#reset {
    margin-left: 15px;
}

.tittle {
    font-weight: bold;
}

.deleteButton {
    display: flex;
    justify-content: right;
}