@import url('https://fonts.cdnfonts.com/css/ananda-2');

img {
    object-fit: cover;
    width: 250px;
}

header {
    font-family: 'Ananda', 'Ananda Black';
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
}

.headerText {
    grid-column: 1 / 4;
    grid-row: 1;
}

.headerImg {
    background-color: azure;
    grid-column: 5 / 6;
    grid-row: 1;
}
