.notifications {
    display:flex;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    
}
.goodNotifications {
    margin-top: 10px;
    background-color: lightgreen;
    color: darkgreen;
    font-weight: bolder;
    border: solid 1px darkgreen;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 5px;
    width: 170px;
    opacity: 65%;
}

.badNotifications {
    margin-top: 10px;
    background-color: rgb(245, 119, 119);
    color: rgb(62, 1, 1);
    font-weight: bolder;
    border: solid 2px rgb(62, 1, 1);
    border-radius: 15px;
    opacity: 65%;
    width: 285px;
}

.hide{
    display: none;
}

.notificationButtom {
    color: black;
    display: inline-block;
    text-align: right;
    margin-top: 0;
    margin-right: 5px;
    padding-right: 2px;
    width: 100%;
}
.notificationButtom p {
    margin: 0;
    padding-right: 0;
}

.notificationText{
    text-align: center;
    margin-top: 0px;
}