
.goodNotifications {
    display:flex;
    position: absolute;
    align-items: center;
    /*margin-left: 35%;*/
    background-color: lightgreen;
    color: darkgreen;
    border: solid 1px darkgreen;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 5px;
    width: 250px;
}

.badNotifications {
    background-color: rgb(245, 119, 119);
    color: rgb(62, 1, 1);
    border: solid 2px rgb(62, 1, 1);
    border-radius: 15px;
    width: 250px;
}

.hide{
    display: none;
}

.notificationButtom {
    color: black;
    display: inline-block;
    text-align: right;
    margin-top: 0;
    margin-right: 5px;
    padding-right: 2px;
    width: 100%;
}
.notificationButtom p {
    margin: 0;
    padding-right: 0;
}

.notificationText{
    text-align: center;
    margin-top: 0px;
}