.add {
    border: solid 2px beige;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  .add img {
    max-width: 100px;
    max-height: 150px;
  }

  .productData h2{
    text-align: center;
    color: darkred;
  }

  #isSale {
    font-weight: bold; 
    text-transform: uppercase;
  }

.typeTag {
  font-weight: bold;
}

.typeTag span {
  font-weight: initial;
}

  